.assignment-container{
    display: flex;
    overflow: scroll;
    height: 90vh;
    border: 1px solid grey;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.assignment-list{
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 5px;
}